<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headercss">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/location.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
</div>
<div th:fragment="header-fragment">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="nav navbar-nav mr-auto">
                <li>
                    <form method="get" action="/events-browser" class="form-inline">
                        <input class="form-control ml-sm-2" type="text" name="keyword" th:value="${invalidKeyword == null ? keyword : invalidKeyword}" placeholder="Nazwa...">
                        <input class="form-control ml-sm-2" type="text" name="city" th:value="${invalidCity == null ? city : invalidCity}" placeholder="Miasto...">
                            <select class="form-control ml-sm-2" name="country">
                            <option th:each="country : ${countries}" th:value="${country}"
                                    th:text="${country.plName}"></option>
                        </select>
                        <button class="btn btn-outline-primary ml-sm-2">Wyszukaj wydarzenie</button>
                    </form>

                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li>
                    <a class="nav-link" href="/events">Nadchodzące wydarzenia</a>
                </li>
                <li>
                    <a class="nav-link" th:if="${!@stakeholderContext.isLoggedIn()}" th:href="@{/login}">Logowanie</a>
                </li>
                <li>
                    <a class="nav-link" th:if="${!@stakeholderContext.isLoggedIn()}"  th:href="@{/register}">Rejestracja</a>
                </li>
                <li>
                    <a class="nav-link" th:if="${@stakeholderContext.isLoggedIn()}" th:href="${'/stakeholder-events/' + @stakeholderContext.provideId()}">Moje wydarzenia</a>
                </li>
                <li>
                    <a class="nav-link mr-sm-2"  th:if="${@stakeholderContext.isLoggedIn()}" th:href="@{/logout}" >Wyloguj</a>
                </li>
                <li>
                    <p style="font-size: xx-small" th:if="${@stakeholderContext.isLoggedIn()}"
                       th:text="${@stakeholderContext.provideUsername()}">User</p>
                </li>
            </ul>
    </nav>
</div>
