<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>
<div th:replace="fragments/header :: header-fragment"></div>
<div>
    <p th:if="${notFoundMessage eq 'notFound'}" th:text="${'Nie znaleziono wydarzenia'}"></p>
</div>
<div style="margin: 10px; padding-top: 10px">
    <h3>Nadchodzące wydarzenia</h3>
    <nav aria-label="Page navigation">
        <ul class="pagination pagination justify-content-end">
            <li class="page-item" th:classappend="${currentPage eq 1} ? disabled">
                <a th:href="@{/events(size=${eventPage.size}, page=${currentPage - 1})}"
                   class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li th:if="${eventPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}"
                class="page-item" th:classappend="${pageNumber eq currentPage} ? active">
                <a class="page-link" th:href="@{/events(size=${eventPage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"></a>
            </li>
            <li class="page-item" th:classappend="${eventPage.totalPages eq currentPage} ? disabled">
                <a th:href="@{/events(size=${eventPage.size}, page=${currentPage + 1})}" class="page-link"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    <div th:replace="fragments/events-gallery :: events-gallery"></div>
</div>
</body>
</html>