<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign for event</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>
<div th:replace="fragments/header :: header-fragment"></div>
<form th:action="@{/sign-up-for-event/{uuid} (uuid=${eventDto.getId()})}" method="post" th:object="${eventDto}">
    <input type="text" th:field="*{name}"><br>
    <input type="text" th:field="*{id}"><br>
    <input type="text" th:name="${'stakeholderDtoEmail'}" th:if="${@stakeholderContext.isLoggedIn()}"
       th:value="${@stakeholderContext.provideUsername()}"><br>
    <button>Zapisz</button>
</form>

</body>
</html>