<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stakeholder events</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>
<div th:replace="fragments/header :: header-fragment"></div>
<div style="margin: 10px; padding: 5px;">
    <p>Jadę jako kierowca: </p>
    <ul th:each="event : ${stakeholderEventsAsDriver}">
        <li th:text="*{event.name}"></li>
    </ul>
    <p>Jadę jako autostopowicz: </p>
    <ul th:each="event : ${stakeholderEventsAsHitchhiker}">
        <li th:text="*{event.name}"></li>
    </ul>
</div>
</body>
</html>