<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Who goes</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>
<div th:replace="fragments/header :: header-fragment"></div>
<div style="margin: 10px; padding: 5px;">
    <p>Kierowcy:</p>
    <ul th:each="driver : ${drivers}">
        <li th:text="*{driver.email}"></li>
        <span>
        <a class="btn btn-primary btn-sm" role="button"
           th:href="@{'/sign-up-for-event/hitch-hiking/' + ${eventUuid} + '/' + ${driver.id}}">
        Rezerwuję miejsce
    </a></span>
    </ul>
    <br>
    <p>Autostopowicze:</p>
    <ul>
        <li th:each="hitchhiker : ${hitchhikers}" th:text="*{hitchhiker.email}"></li>
    </ul>
    <br>
</div>
</body>
</html>